:root {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  --text-primary: #312F2F;
  --text-secondary: rgba(0, 136, 169, 1);
  --text-tertiary: #FE621D;
  --bg-body: #fff;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Montserrat-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  /* background-color: var(--bg-body); */
}

html {
  scroll-behavior: smooth;
}

header {
  text-align: center;
  padding: 400px;
  background-image: url("images/img-header.jpg");
  background-size: cover;
}

body {
  color: var(--text-primary);
  background-color: var(--text-secondary);
  display: flex;
  flex-direction: column;

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

h1 {
  font-size: 36px;
  /* background-color: var(--bg-body); */
}

h2 {
  color: var(--text-secondary);
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

h3 {
  color: var(--text-secondary);
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

/* Animations */

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animate {

  0% {
    content: "a computer science student at UC, San Diego.";
  }

  50% {
    content: "a first generation student.";
  }

  75% {
    content: "an asipiring software engineer.";
  }
}

#my-name {
  color: var(--text-secondary);
}

#change:after {
  content: "a computer science student at UC, San Diego.";
  animation: animate linear infinite 10s;
  padding-left: 10px;

}

/* Nav Bar CSS*/

.heading li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--text-primary);
  text-decoration: none;
  
}

.about-text span {
  color: var(--text-tertiary);
}

.heading {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px, 10%;
  background-color: var(--bg-body);
  background-position: center;
}

.logo {
  cursor: pointer;
  order: 3;
  margin-left: auto;
  width: 200px;
  height: auto;
}

nav {
  order: 1;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li:nth-child(1) {
  padding: 0 20px 0 0;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

.cta {
  order: 2;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: var(--text-secondary);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: var(--text-secondary);
}

/* About section */

#about {
  width: 100%;
  padding: 78px;
  background-color: var(--bg-body)
}

#about img {
  height: auto;
  width: 420px;
}

.about-text {
  width: 550px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-text p {
  color: var(--text-primary);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

/* Projects Section */
#projects {
  width: 100%;
  padding: 78px;
  background-color: var(--bg-body);
}

.projects-text {
  width: 550px;
}

.project-main {
  /* This is to move text!! */
  max-width: 95%;
  margin: 0 auto;
  display: flex;
}

.projects-text ul {
  color: var(--text-primary);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

/* Coursework Section */

#coursework {
  width: 100%;
  padding: 78px;
  background-color: var(--bg-body);
}

.coursework-text {
  width: 550px;
}

.coursework-main {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
}

.coursework-text p {
  color: var(--text-primary);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

/* Skills Section */

#skills {
  width: 100%;
  padding: 78px;
  background-color: var(--bg-body);
}

.skills-text {
  width: 550px;
}

.skills-main {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
}

.skills-text li,
b {
  color: var(--text-primary);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

/* Contacts Section */

#contact {
  width: 100%;
  padding: 78px;
  background-color: var(--bg-body);
}

#contact img {
  height: auto;
  width: 100px;
}

.contacts-text {
  width: 550px;
}

.contacts-main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}